* {
    font-family: gilroy;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: gilroy;
    position: relative;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardx {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    height: 30vw;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vw;
}

.cardx h3{
    font-size: 1.5vw;
    color: #767676;
}

.cardx h3 svg{
    font-size: 2.5vw;
    color: #767676;
}

.cardx #buttons {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 24px;
    margin: 0;
}

.username {
    font-size: 18px;
    color: #777;
    margin: 10px 0;
}

.tagline,
.description {
    color: #555;
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E2E2E2;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 500;
    border-radius: 7vw;
}

.button:hover {
    background-color: #b5b5b5;
}

#uploadscreen {
    background-color: #000000;
    z-index: 2;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 2vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none;
    z-index: 1; /* Ensure it's on top of other content */
}

#uploadform {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
    color: white;

}

#uploadscreen.show {
    display: block;
}

#uploadform h1 {}

#submitbutton {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card{
}